.syntaxhighlighter .coloree1, .syntaxhighlighter .coloree1 a { color: #3bb0bb !important; }
.syntaxhighlighter .coloree2, .syntaxhighlighter .coloree2 a { color: #bb9b3b !important; }
.syntaxhighlighter .coloree3, .syntaxhighlighter .coloree3 a { color: #bb3b63 !important; }
.syntaxhighlighter .coloree4, .syntaxhighlighter .coloree4 a { color: #5d85ca !important; }
.syntaxhighlighter .coloree5, .syntaxhighlighter .coloree5 a { color: #773481 !important; }