{#
 # Single Software template
 # ---------------
 #}

{% extends "_layout" %}


{#
 # Set our html class
 #}
{% set htmlClass = 'software' %}


{#
 # Set our navigation 'active' state
 #}
{% set navSoftware = true %}


{#
 # Set our page title to include the entry's title
 #}
{% set metaTitle = entry.title %}


{#
 # Create our "content" block
 #}
{% block content %}

	<div id="content" class="software single">
	
		<h1>{{ entry.title }}</h1>

			<div id="intro">
	
				<div id="tagline">
					{{ entry.tagline }}
				</div> <!-- /#tagline -->
				
				{#
				 # 'set' variables are scoped, so we declare outside the loop first
				 #}
				{% set latestReleaseUrl = "" %}
				{% set latestReleaseVersion = "" %}

				{#
				 # We reverse the order of the release notes, working backwards
				 # to most recent, every time looking for a downloadFile. If found,
				 # we update the latestRelease* variables.
				 # At the end of our looping, we should be left with the most recent
				 # available release.
				 #}
				{% for releaseNote in entry.releaseNotes | reverse %}

					{% if releaseNote.downloadFile | length %}

						{% set latestReleaseUrl = releaseNote.downloadFile.first().url %}
						{% set latestReleaseVersion = releaseNote.versionNumber %}

					{% endif %}

				{% endfor %}

				{% if latestReleaseUrl is not empty %}
					<div id="download_link">
						<a href="{{ latestReleaseUrl }}" class="download" title="Download the most recent version, {{ latestReleaseVersion }}">Download <span>(v. {{ latestReleaseVersion }})</span></a>
					</div> <!-- /#download_link -->
				{% endif %}
	
				<div id="ee_versions" class="ee_versions">
					{% for tag in entry.softwareTags %}
						<span class="{{ tag.name | lower }}">{{ tag.name }}</span>
					{% endfor %}
				</div> <!-- /#ee_versions -->
				
			</div> <!-- /#intro -->
		
			<div id="software">
				
				<ul class="tabs">
					<li><a href="#overview">Overview</a></li>
					{%if entry.userGuide is not empty %}<li><a href="#user_guide">User Guide</a></li>{% endif %}
					{%if entry.support is not empty %}<li><a href="#support">Support</a></li>{% endif %}
					<li><a href="#release_notes">Release Notes</a></li>
				</ul> <!-- /#content_tabs -->
				
				<div class="panes">
					
					<div id="overview" class="pane">
						{{ entry.overview }}
					</div> <!-- /#overview -->
					
					{%if entry.userGuide is not empty %}
						<div id="user_guide" class="pane">
							{{ entry.userGuide }}
						</div> <!-- /#user_guide -->
					{% endif %}
					
					{%if entry.support is not empty %}
						<div id="support" class="pane">
							{{ entry.support }}
						</div> <!-- /#support -->
					{% endif %}
		
					<div id="release_notes" class="pane">
						<dl>
							{% for releaseNote in entry.releaseNotes %}

								{% if releaseNote.downloadFile | length %}

									{% set file = releaseNote.downloadFile.first() %}

									<dt>Version {{ releaseNote.versionNumber }} <a href="{{ file.url }}" title="Version {{ releaseNote.versionNumber }}, {{ releaseNote.releaseDate | date('F d, Y') }}">(download)</a>, released {{ releaseNote.releaseDate | date('F d, Y') }}</dt>
								{% else %}
									<dt>Version {{ releaseNote.versionNumber }} under development</dt>
								{% endif %}

								<dd>
									<ul>
									{% for note in releaseNote.changelog %}
										<li>{{ note.note }}</li>
									{% endfor %}
									</ul>
								</dd>

							{% endfor %}
						</dl>
					</div> <!-- /#release_notes -->
				</div> <!-- /#content_panes -->

		</div> <!-- /#software -->
	</div> <!-- /#content -->
{% endblock %}
